$font-color: white;
$font-size: 15px;
$border: 5px solid black;
$logo-border-height: 80px;
$sidebar-height: 400px;
$sidebar-width: 160px;


#wrapper {
  margin: 0, auto;
}
#logo {
  font-size: $font-size;
  font-color: $font-color;
  border: $border;
  height: 10%;
  text-align: center;
  display: inline-block;

}
#sidebar {
  border: $border;
  height: $sidebar-height;
  width: $sidebar-width;
  display: inline-block;

}
#content {
  margin-left: 200px;
  margin-top: -402px;
  display: inline-block;

}
#feet {
  border: $border;
  height: 50px;
  width: 625px;
  margin-top: 3px;
}
